<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="Content">
    <h1>
        <f:translate key="headline.selectFields"/>
    </h1>

    <f:form class="selectFieldsForm" method="post" action="export">
        <f:form.hidden name="filetype" value="{filetype}"/>
        <f:form.hidden name="logDataUids" value="{logDataUids}"/>

        <f:if condition="{fields.global -> f:count()} > 0">
            <f:render partial="Module/SelectFieldsGroup" arguments="{fields: fields.global, groupLabel: 'Global Fields', groupName: 'global'}"/>
        </f:if>

        <f:if condition="{fields.custom -> f:count()} > 0">
            <f:render partial="Module/SelectFieldsGroup" arguments="{fields: fields.custom, groupLabel: 'Custom Fields', groupName: 'custom'}"/>
        </f:if>

        <f:if condition="{fields.system -> f:count()} > 0">
            <f:render partial="Module/SelectFieldsGroup" arguments="{fields: fields.system, groupLabel: 'System Fields', groupName: 'system'}"/>
        </f:if>
        <div class="form-group">
            <f:form.submit value="{f:translate(key: 'button.export')}" class="btn btn-primary"/>
            <f:link.action action="index" class="btn btn-default">
                <f:translate key="label.back"/>
            </f:link.action>
        </div>
    </f:form>
</f:section>
